.card {
  font-family: var(--font-times-nr-mt-std), var(--font-liberation-serif),
    "Times New Roman", Times, serif;
  width: 62.5mm;
  height: 87.9mm;
  background: black;
  background-size: 100% 100%;
  position: relative;
  margin: 0;
  color: var(--white);
  text-shadow: 0 0 0.25mm black, 0 0.25mm 0.5mm black;

  display: flex;
  flex-direction: column;
}

.effect {
  margin-top: 48mm;
  flex: 1;
  min-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5mm 6mm 5mm;
  font-size: var(--card-body-size);
  line-height: 1.3em;

  img {
    height: 1.2em;
    margin: -0.2em;
    position: relative;
    top: 1.5px;
  }
}
