@media screen and (min-width: 1200px) {
  .editor {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
  }

  .properties {
    flex: 1;
  }

  .preview {
    width: 620px;
  }
}

@media screen and (max-width: 1199px) {
  .editor {
    margin: 1rem;
  }

  .preview {
    margin-top: 1rem;
  }
}

.previewContainer {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  zoom: 1.2;
}

.previewRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0;
}
